

body {
    margin-bottom:10%;
    padding-top:7%;
}


h1 {
	font-family: 'Lora', serif;
	font-size: 3em;
	color: #101049;
}

h4, h5 {
	font-family: 'Lora', serif;
	font-weight:bold;
	color: #101049;
}
h4 {
	color: #101049 !important;
}

p, li {
	font-family: 'Nanum Gothic', sans-serif;
	color: #101049;
	
}

a {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight:bold;
	color:#86D4A3;
}
#job-position{
	color:#86D4A3;
}
a:hover{
	color: #b11a21;
}

.navbar {
	margin-bottom: 5%;
	background-color: #101049;
	text-align: center;

}
.nav-link{
	color: #FFFFFF !important;
    text-align: center;

}
.navbar-nav {
    float:none;
    margin:0 auto;
	text-align: center;
}



.nav-link.active {
	color:#86D4A3 !important;
	font-weight: bolder;
}


img {
	width:100%;
}

.card {
	margin: 4%;
	border-color: #101049;
	border:3 !important;
}	


.cardbody{
	text-align: center;
}

.cardbody p,h5 {
/*	color:white;*/
}

hr {
	border-color:#86D4A3;
}

#card-line {
	margin-top:0;
	margin-bottom:3%;
}


.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    margin-top:4%;
}

.carousel-caption h4{
	color:black;
}

.carousel-caption p{
	color:black;
}

.carousel {

  margin:5%;

}
.carousel li {
}


#semester{
	margin:2%;
}

#project-carousel {
	height: 65%;
	width: 65%;
}
#project-show-carousel{
	height: 65%;
	width: 65%;
}

#project-back {
	text-align:left;
}

#project-summary{
	text-align: left;
	margin: 2%;
}

.carousel-control-prev-icon {
 	background-image: url("images/prev.png") !important;
 	width:2.5em;
 	height:2.5em;
}

.carousel-control-next-icon {
  	background-image: url("images/next.png") !important;
 	width:2.5em;
 	height:2.5em;

}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    align:center;
}

.card-body{
	border:2;
	border-color: #86D4A3;

}

.btn-outline-primary, .btn-outline:active, .btn-outline-primary:visited {
    background-color: #86D4A3 !important;
	color:white !important;
    border-color:#86D4A3 !important;
 
}
.btn-outline-primary:hover{
	border-color:#86D4A3 !important;
    color:#86D4A3!important;
    background-color:white !important;
}
#logo {
	height:45px;
	width:110px;
}

.divider{
	color:#86D4A3;
	margin-left:10px;
}

@media only screen and (max-width: 575px){
	.card {
		width:80% !important;
	}
	.card-img-top {
		display:none;
	}
	#project-title-card{
		display:none;
	}
	.navbar{
	    margin-bottom:15%;
	}
	body {
		padding-top:17% !important;
	}
	h1 {
		font-size: 2em !important;
		margin:5%;
	}
	#project-carousel {
		display:none !important;
	}
	#project-show-carousel {
		height: 90% !important;
		width: 90% !important;
	}
	#card-line {
		display:none;
	}
	#wireframes{
		width:80%;
		margin-left: 10%;
		margin-bottom:10%;
	}
	p, li{
		font-size: .85em;
		margin:2%;
	}
	h4 {
		font-size: 1.2em !important;
		margin:2%;
	}
	


}

@media only screen and (max-width: 1000px) {
	body {
		padding-top:10% ;
	}
	.card-img-top {
	    height: 30vw;
	 }
	#project-carousel {
		height: 80%;
		width: 80%;
	}
	#project-show-carousel {
		height: 80%;
		width: 80%;
	}
	.divider{
		display:none;
	}
	

}

@media only screen and (max-width: 767px) {
	#card-title {
		font-size: 2.5em;
	}
	h1 {
		font-size: 2.5em;
	}
	#project-carousel {
		height: 90%;
		width: 90%;
	}
	#project-show-carousel {
		height: 95%;
		width: 95%;
	}



}



